.menu {
    border: none;
}

.input {
    height: 30px; 
    width: 250px; 
    outline: none; color: black;
}

.font {
    font-family: monospace;
}

.img {
    width: 40px; 
    height: 40px;
    cursor: pointer;
}

@media (max-width: 550px) {
    .menu {
        gap: 4px;
    }

    .input {
        width: 150px;
    }

    .font {
        font-size: smaller;
    }

    .img {
        width: 30px;
        height: 30px;
    }

}