.size {
  scale: 1;
  height: 100%;
}

.slider {
  scale: 1;
}

.brand-opt {
  height: 80%;
  overflow-y: auto;
}

.h-100 {
  height: 100%;
}

.slider-bar {
  width: 90%;
}

@media (max-width: 800px) {
  /* .size {
    transform: scaleX(0.9);
  } */

  .slider-bar {
    width: 50%;
  }
}
